@font-face {
    font-family: 'Segoe UI Light';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Light'), url('Segoe UI Light.woff') format('woff');
}

body {
    padding-top: 5rem;
    font-family: 'Segoe UI Light';
}

.starter-template {
    padding: 3rem 1.5rem;
    /* text-align: center; */
}

.btn {
    margin: 3px;
}