{% extends 'base.html.twig' %}

{% block title %}{{'Welcome!'|trans}}{% endblock %}

{% block body %}
    <div class="grid">

        <div class='text-center'>
            <h2 class="card-title">Le logiciel de gestion des formations F.C. Pro</h2>
        </div>
        <div class='text-center'>
            <h5 class="card-title text-center">Importer un nouveau fichier .csv pour démarrer</h5>
        </div>
        <div class='text-center'>
            <input type="file" class="btn btn-primary">Nouvelle session</button>
        <div>

    </div>
    
    


{% endblock %}
