{% extends 'base.html.twig' %}

{% block title %}Importation CSV{% endblock %}

{% block body %}
    <h1>Importation CSV</h1>
        <tbody>

            <p>Les données ont bien été importées dans la base de données.</p>
            {{ dump(row) }}
        </tbody>
{% endblock %}
