{% extends 'base.html.twig' %}

{% block title %}New SessionLocation{% endblock %}

{% block body %}
    <h1>Create new SessionLocation</h1>

    {{ include('session_location/_form.html.twig') }}

    <a href="{{ path('session_location_index') }}">back to list</a>
{% endblock %}
