{% extends 'base.html.twig' %}

{% block title %}{{'New User'|trans}}{% endblock %}

{% block body %}
    <a href="{{ path('user_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>

    <h1 class='text-center mb-5'>{{'Create new User'|trans}}</h1>

    {{ include('user/_form.html.twig') }}
{% endblock %}
